<mat-list>
  <mat-list-item *ngFor="let comment of comments">
    <div>
      {{ comment.content }}
      <button mat-icon-button (click)="reply(comment)"><mat-icon>reply</mat-icon></button>
      <button mat-icon-button (click)="delete(comment)"><mat-icon>delete</mat-icon></button>
      <div *ngIf="comment.replyMode">
        <mat-form-field>
          <input matInput placeholder="Reply" [(ngModel)]="comment.replyText" />
        </mat-form-field>
        <button mat-button (click)="addReply(comment)">Add Reply</button>
      </div>
    </div>
    <mat-list *ngIf="comment.replies">
      <mat-list-item *ngFor="let reply of comment.replies">
        -- {{ reply.content }}
      </mat-list-item>
    </mat-list>
  </mat-list-item>
</mat-list>
<mat-form-field>
  <input matInput placeholder="New comment" [(ngModel)]="newCommentText" />
</mat-form-field>
<button mat-raised-button color="primary" (click)="addComment()">Add Comment</button>
